/*Carousel header*/
.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}
#headerwrap img{
    z-index: 2px !important;
    background-image: url(../img/background/background-transparent.png);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    filter: blur(2px);
    filter: brightness(81%);
    height: 700px !important;
}
@media (max-width: 767px){
    #headerwrap img{
        height: 400px !important;
    }
    #headerwrap h1{
        font-size: 50px !important;
        margin-top: -220px !important;
    }
}

html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
}

/*
=======================/
=======================/
=======================/
*/
/*Carousel produtos*/
img {
  max-width: 100%;
}

a {
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -ms-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
}
a:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
  filter: alpha(opacity=50); /* IE7 */
  opacity: 0.6;
  text-decoration: none;
}
li{
    list-style: none;
}
/* Container */
.container-fluid {
  background: #FFFFFF;
  margin: 40px auto 10px;
  padding: 20px 40px 0;
  max-width: 960px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* Page Header */
.page-header {
  background: #f9f9f9;
  margin: -30px -40px 40px;
  padding: 20px 40px;
  border-top: 4px solid #ccc;
  color: #999;
  text-transform: uppercase;
}
.page-header h3 {
  line-height: 0.88rem;
  color: #000;
}

/* Thumbnail Box */
.caption h4 {
  font-size: 1rem;
  color: #444;
}
.caption p {
  font-size: 0.75rem;
  color: #999;
}
.btn.btn-mini {
  font-size: 0.63rem;
}

/* Carousel Control */
.control-box {
  text-align: right;
  width: 100%;
}
.carousel-control {
    background-color: transparent;
  border: 0px;
  border-radius: 0px;
  display: inline-block;
  font-size: 34px;
  font-weight: 200;
  line-height: 18px;
  opacity: 0.5;
  padding: 4px 10px 0px;
  position: static;
  height: 30px;
  width: 15px;
}

/* Footer */
.footer {
  margin: auto;
  width: 100%;
  max-width: 960px;
  display: block;
  font-size: 0.69rem;
}
.footer, .footer a {
  color: #c9e4f7;
}
p.right {
  float: right;
}

/* Mobile Only */
@media (max-width: 767px) {
  .page-header, .control-box {
    text-align: center;
  }
}
@media (max-width: 479px) {
  .caption {
    word-break: break-all;
  }
}

/* ADD-ON
-------------------------------------------------- */





a, a:focus, a:active, a:hover, object, embed {
  outline: none;
}
:-moz-any-link:focus {
  outline: none;
}
input::-moz-focus-inner {
  border: 0;
}

