/*
 * Author: Carlos Alvarez
 * URL: http://Alvarez.is
 *
 * Project Name: NYC Design
 * Version: 1.0
 * Date: 04-20-2014
 * URL: 
 */


/* ==========================================================================
   Base Styles, Bootstrap Modifications & Fonts Import
   ========================================================================== */
/*Minhas modificações*/
h1{
    color: black !important;
}
#quemsomos{
    background-color: white;
   /* background-image: url(../img/background/background-services.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;*/
    padding-top: 50px;
}
#quemsomos h1{
    font-size: 80px !important;
}
#quemsomos p{
    color: black;
}
p{
    font-size: 20px;
}
.service{
   /* background-image: url(../img/background/background-services.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;*/
}
.box-service{
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    padding: 60px 30px 15px;
    width: 100%;
    height: 250px;
    box-shadow: 1px 1px 15px 0px #3e3e3e;
}
.box-service small{
    color: black !important;
    width: 100%;
    text-align: center !important;
    font-size: 16px;
}
.box-service:hover small{
    text-align: center;
    color: white !important;
     -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}
.box-service:hover{
    background-color: #3e3e3e;
    color: white;
    border-bottom: 5px solid white;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}
.box-service img{
    width: 64px !important;
    height: 64px !important;
}
.box-service:hover img{
    width: 85px !important;
    height: 85px !important;
    -webkit-transition:	all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}
.produto{
    background-color: white;
    padding-top: 50px;
    padding-bottom: 0px;
    color: black !important;
   /* background-image: url(../img/background/background-information.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;*/
}
.produto img{
    width: 350px;
    height: 300px !important;
    display: inline-block !important;
    margin-left: 1px !important;
    margin-bottom: 90px;
}
.carousel h3{
    padding-top: 50px !important;
    margin-top: 20px !important;
}
.informacao{
    width: white;
    padding-top: 50px;
    padding-bottom: 0px;
   /* background-image: url(../img/background/background-information.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-color: #3e3e3e;
    color: blueviolet;*/
}
.desktop{
        display: visible;
    }
    .celular{
        display: none;
    }
@media (max-width: 767px){
    .service{
    /*background-image: url(../img/background/background-services.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat;*/
}
    #quemsomos h1{
        margin-top: 10px !important;
    font-size: 26px !important;
}
    #quemsomos p{
    color: black;
        font-size: 15px !important;
        text-align: justify !important;
}
    .informacao{
        padding-top: 50px;
    padding-bottom: 0px;/*
    background-image: url(../img/background/background-information.jpg);
    background-attachment:scroll !important;
    background-repeat: no-repeat;
    background-size: cover;*/
    }
    .formulario{
        background-color: #fff;
    padding: 30px;
 border-radius: 15px;
    margin-bottom: 20px;
    }
    .produto{
    padding-top: 50px;
    padding-bottom: 0px;
    /*background-image: url(../img/background/background-information.jpg);
        background-position: left;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;*/
}
    .desktop{
        display: none;
    }
    .celular{
        display: block;
    }
}
.informacao h3,p{
    text-align: left;
    color: white;
}
.formulario{
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: -20px;
}
.footer-input{
    width: 100%;
    height: 20px;
    box-shadow: 0px 0px 6px 0px black;
    padding: 20px;
    text-align: center;
   
    margin-top: 10px;
}
.footer-textarea{
    width: 100%;
    margin-top: 10px;
    padding-top: 20px;
    box-shadow: 0px 0px 6px 0px black;
    text-align: center;
    background-color: transparent;
}
.footer-button{
    width: 100%;
    padding: 20px;
    text-align: center;
    box-shadow: 3px 2px 10px 0px #a4003a;
    border-radius: 20px;
    background-color: #a4003a;
}
/*Minhas modificações*/
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');


::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}

::selection {
    background: #16a085;
    color: #a4003a;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.centered {
	text-align: center
}

.mt {
	margin-top: 10px;
}

.mb {
	margin-bottom: 10px;
}

/* ==========================================================================
   General styles
   ========================================================================== */


body {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    font-size: 16px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
    color: #4a4a4a;
}


.navbar-brand {
	font-weight: 700;
}

.navbar-default .navbar-brand{
	color: navajowhite !important;
}

.navbar-default {
	background-color: transparent !important;
	border-color: transparent !important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: navajowhite !important;
	background-color: transparent!important;
	border-bottom: 2px solid black;
}

.navbar-default .navbar-nav > li > a {
	color: navajowhite !important;
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	background: url(../img/logo/logo.png) no-repeat center bottom;
	margin-top: -70px;
	padding-top: 70px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 800px;
	width: 100%;
    margin-bottom: -10px;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	color: white !important;
    margin-top: -400px;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#headerwrap h4 {
	font-weight: 400;
	color: #d81b60
}

#social {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f2f2f2;
}

#social i {
	font-size: 40px;
	color: #4a4a4a
}

#social i:hover {
	color: #1abc9c
}

#footerwrap {
	padding-top: 70px;
	padding-bottom: 50px;
	background-color: #000;
    color: white !important;
}
#footerwrap h2{
 text-align: center;
    margin-left: 50px !important;
}
#footerwrap p {
	color: white;
	margin-left: 10px;
}

#workwrap {	
	background: url(../img/work.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#workwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#workwrap h4 {
	font-weight: 400;
	color: #ffffff
}

#aboutwrap {	
	background: url(../img/about.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 550px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}




/* Gallery */
.gallery {
	margin-top: 30px;
}

.gallery img:hover {
	opacity: 0.4;
}